<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.serrofortia.wallpaper"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
    
    <permission
        android:name="com.serrofortia.wallpaper.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.serrofortia.wallpaper.permission.C2D_MESSAGE" />
    <uses-permission android:name="FILE" />

    <application
        android:name="com.serrofortia.wallpaper.WallpaperApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
       	android:theme="@style/AppTheme" >
        <activity
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar"
            android:name="com.serrofortia.wallpaper.SplashActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> > 
             
            <intent-filter>
              <action android:name="android.intent.action.SEND" />
               <category android:name="android.intent.category.DEFAULT" />
   				<data android:mimeType="image/*" />
          </intent-filter>
            
        </activity>
        <activity
            android:name="com.serrofortia.wallpaper.GroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
             >
        </activity>
        <activity
            android:name="com.serrofortia.wallpaper.LoginTypeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.serrofortia.wallpaper.RegisterActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.serrofortia.wallpaper.GroupsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
        </activity>
         <activity
            android:name="com.serrofortia.wallpaper.AddGroupActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"
            >
        </activity>
        <activity
            android:name="com.serrofortia.wallpaper.ConfirmActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="stateVisible">
        </activity>
        <activity
            android:name="com.serrofortia.wallpaper.ContactsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.serrofortia.wallpaper.PaintActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name="com.serrofortia.wallpaper.MembersActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
        </activity>
          <activity
            android:name="com.serrofortia.wallpaper.RecommendationsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
        </activity>
          <activity
            android:name="com.serrofortia.wallpaper.InvitationsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
        </activity>
         <activity
            android:name="com.serrofortia.wallpaper.ConditionsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:launchMode="singleTask" >
             <intent-filter>
	              <category android:name="android.intent.category.DEFAULT" />
	    		  <action android:name="android.intent.action.VIEW" />
    			   <data android:scheme="com.serrofortia.wallpaper" />
    		 </intent-filter>  
        </activity>
          
        <!--  <activity
            android:name="com.serrofortia.wallpaper.TestActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            >
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> >
        </activity>
-->
        <receiver
            android:name="com.serrofortia.wallpaper.controller.gcm.GcmReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.serrofortia.wallpaper" />
            </intent-filter>
        </receiver>

        <service android:name="com.serrofortia.wallpaper.controller.gcm.GcmService" />
     
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        
        <activity android:name="com.serrofortia.wallpaper.FBActivity"
             >
           <!--  <intent-filter>
                <action android:name="android.intent.action.MAIN" />
			   <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> > -->
            
            
        </activity>    
       <activity android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        	
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aebe70b69be75bc9d4007d490bdfd82849ac7f3d" />
    </application>

</manifest>